:root{
    --fundo: #87CEFA;
    --cor-frente:#4169E1;
    --cor-verso: #000000;
    --destaque: #00FFFF;
    --preto: #000000;
    --branco: #ffffff;
}
body{
    background-color: var(--fundo);
    margin: 0;
}


footer{
    position: absolute;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}